<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title | pageTitle }}</title>
    <meta name="description" content="{% const 'description' %}">
    <meta name="keywords" content="{% const 'keywords' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-172025816-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link rel="canonical" href="{% const 'hostname' %}{{ page.url }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

    <link href="/assets/favicon.ico" rel="shortcut icon">
    <link href="/assets/scss/index.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <a class="logo" href="/">
        {% include 'logo.svg' %}
        {%- if logotype %}
          <h1>{% const 'sitename' %}</h1>
        {%- endif %}
      </a>
    </div>

    {%- if image %}
      <div class="cover" style="background-image: url('{{ image | unsplash }}')"></div>
    {%- endif %}

    <div class="container">
      {{ content | safe }}
    </div>

    <div class="footer">
      &copy; {% const 'year' %} {% const 'firstName' %}. <a href="https://github.com/kiloev/thoughts" target="_blank" rel="noreferrer">Source on GitHub</a>.
  </body>
</html>
