<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title | pageTitle }}</title>
    <meta name="description" content="{% const 'description' %}">
    <meta name="keywords" content="{% const 'keywords' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <link rel="canonical" href="{% const 'hostname' %}{{ page.url }}" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#CA3939">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/assets/icons/android-chrome-192x192.png">

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" as="style" onload="this.rel='stylesheet'">
    {%- if image %}
      <link rel="preload" href="{{ image | unsplash }}" as="image">
    {%- endif %}

    <link href="/assets/favicon.ico" rel="shortcut icon">
    <link href="/assets/scss/index.css" rel="stylesheet" />

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-172025816-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
  </head>
  <body>
    <div class="container">
      <a class="logo" href="/">
        {% include 'logo.svg' %}
        {%- if logotype %}
          <h1>{% const 'sitename' %}</h1>
        {%- endif %}
      </a>
    </div>

    {%- if image %}
      <div class="cover" style="background-image: url('{{ image | unsplash }}')"></div>
    {%- endif %}

    <div class="container">
      {{ content | safe }}
    </div>

    <div class="footer">
      &copy; {% const 'year' %} {% const 'firstName' %}. <a href="https://github.com/kiloev/thoughts" target="_blank" rel="noreferrer">Source on GitHub</a>.
    </div>
  </body>
</html>
