---
layout: base.njk
tags: post
permalink: "/{{ page.date | date: '%Y-%m-%d' }}/{{ title | slug }}/"
---

<div class="post">
  <h1>{{ title }}</h1>
  <blockquote>{{ subtitle }}</blockquote>

  {{ content | safe }}
</div>
