---
layout: base
tags: post
---

{%- if image %}
  <div class="cover" style="background-image: url('https://ik.imagekit.io/kvn/{{ image }}?tr=w-1920,h-480')"></div>
{%- endif %}
<div class="container">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</div>
